// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


.clearfix::after{
  content:"";
  display:block;
  clear: both;
}

h1{
  font-size: 20px;
}

main{
  font-size: 13px;
  padding:30px;
}

a{
  color:black;
}

table{
  display: table;
}

tr{
  display:table-row;
}


thead{
  vertical-align: middle;
  display:table-header-group;
}

tbody{
  display: table-row-group;

}

td{
  padding:0 20px 10px 20px;
  text-align: center;
}

.show-content{
  padding:30px;
}

.edit-content{
  padding:30px;
}

.flash{
  color:green;
  padding-bottom:20px;
}

.show-item{
  padding:20px;
}

.show-title{
  padding:30px 0;
}

.show-body{
  padding-bottom: 30px;
}
